@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: #171717;
}

body {
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    transition:cubic-bezier(0.445, 0.05, 0.55, 0.95)
  }
}

#mix-blend-mode{
  mix-blend-mode: multiply;
}


